<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" >
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
   <div class="container-fluid">

       <div id="page-content-wrapper">
           <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
               <div class="sidebar-heading">
                   <img th:src="@{/image/food_cpg_icon.png}" class="logo"/>
               </div>
               <span class="nav-heading">Food CPG Management System</span>
               <div class="collapse navbar-collapse nav-actions" id="navbarSupportedContent"
                    style="display: contents !important;">
               </div>
           </nav>
           <p></p>
           <div class="container-fluid" layout:fragment="content"></div>
       </div>

   </div>
   <div>
       <span class="module-heading pl-3">Admin Login</span>

       <p></p>
       <div class="row pl-3">
           <form class="col-md-8 offset-md-2" th:action="@{/admin}" method="post">
               <div class="row">
                   <div class="col-8 row form-group">
                       <label class="col-form-label col-2">Uaername:<sup class="text-danger">*</sup></label>
                       <input class="form-control col-5" type="text" required />
                   </div>
               </div>

               <div class="row">
                   <div class="col-8 row form-group">
                       <label class="col-form-label col-2">Password:<sup class="text-danger">*</sup></label>
                       <input class="form-control col-5" type="password" required/>
                   </div>
               </div>

               <div class="row mt-2">
                   <div class="col-8 row form-group justify-content-end">
                       <button class="col-1 btn btn-primary float-right mr-1" name="action" value="submit" type="submit">Submit</button>
                   </div>
               </div>
           </form>
       </div>
   </div>
</body>
</html>